<!-- New nav to add below-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid d-flex flex-column justify-content-center">
        <Div Class="row d-flex flex-row align-items-center">
            <Div Class="col px-1">
                <Span Style="font-size: 0.6rem;">Powered By</Span>
            </Div>
            <Div Class="col px-1">
                <a href="https://www.pexels.com/" target="_blank" class="fs-3"><img src="images/Pexels Title.png" alt="Powered By Pexels" width="90" height="25" /></a>
            </Div>
        </Div>
        <Span Style="font-size: 2rem">Pexels Search</Span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <NavLink class="nav-link" href="pictureLookup">
                        <span class="oi" aria-hidden="true"></span> Picture Lookup
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="likedPhotos">
                        <span class="oi" aria-hidden="true"></span> Liked Photos
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="videoLookup">
                        <span class="oi" aria-hidden="true"></span> Video Lookup
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="likedVideos">
                        <span class="oi" aria-hidden="true"></span> Liked Videos
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>