<!-- New nav to add below-->
<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container-fluid">
        <img src="images/Pexels Logo.png" alt="Pexels Logo" width="150" height="50" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <NavLink class="nav-link text-dark" href="pictureLookup">
                        <span class="oi" aria-hidden="true"></span> Picture Lookup
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link text-dark" href="likedPhotos">
                        <span class="oi" aria-hidden="true"></span> Liked Photos
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link text-dark" href="videoLookUp">
                        <span class="oi" aria-hidden="true"></span> Video Lookup
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link text-dark" href="likedVideos">
                        <span class="oi" aria-hidden="true"></span> Liked Videos
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>