@page "/"

<PageTitle>Welcome</PageTitle>

<Div Class="d-flex justify-content-center align-items-center" Style="height: 70vh">
    <a href="/pictureLookup" class="welcome-button"><Button Class="fs-1"> Welcome </Button></a>
</Div>